<tr data-hook="admin_boletos_index_rows">
  <td><%= l (@show_only_completed ? boleto_doc.paid_at : boleto_doc.due_date).to_date %></td>
  <td><%= link_to boleto_doc.document_number, admin_order_payment_path(boleto_doc.order, boleto_doc.payment) %></td>
  <td><%= t("boleto.#{boleto_doc.status}") %></td>
  <td><%= link_to boleto_doc.order.number, admin_order_path(boleto_doc.order) %></td>
  <td><%= number_to_currency boleto_doc.amount %></td>
	<td>
		<p>
			individual =>
			impressao: <%= clippy order_boleto_doc_url(boleto_doc.order.number, boleto_doc, :auth_token => boleto_doc.order.user.authentication_token) %>
			pdf: <%= clippy order_boleto_doc_url(boleto_doc.order.number, boleto_doc, :auth_token => boleto_doc.order.user.authentication_token, :format => :pdf) %>
		</p>
		<p>
			pendentes =>
			impressao: <%= clippy order_boleto_docs_url(boleto_doc.order.number, :auth_token => boleto_doc.order.user.authentication_token) %>
			pdf: <%= clippy order_boleto_docs_url(boleto_doc.order.number, :auth_token => boleto_doc.order.user.authentication_token, :format => :pdf) %>
		</p>
		
	</td>
  <td class='actions' data-hook="admin_boletos_index_row_actions">
    <% boleto_doc.payment.actions.each do |action| %>
      <%= button_to t(action), fire_admin_order_payment_path(boleto_doc.order, boleto_doc.payment, :e => action), :method => :put %>
    <% end %>
  </td>
</tr>