<% content_for :sidebar do %>
  <div class="box" data-hook="admin_boletos_index_search">
    <h3><%= t(:search) %></h3>
    <%= form_for [:admin, @search] do |f| %>
      <%= label_tag nil, t(:date_range) %><br />
      <div class="date-range-filter">
        <div class="left sub-field">
          <%= f.text_field :due_date_greater_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:start), :class => 'sub' %>
        </div>
        <div class="right sub-field">
          <%= f.text_field :due_date_less_than, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:stop), :class => 'sub' %>
        </div>
      </div>
      <p><%= label_tag nil, t(:status) %><br />
      <%= f.select :status_equals, [:pending, :paid, :cancelled].map {|s| [t("boleto.#{s}"), s]}, {:include_blank => true} %></p>
      <p>
        <%= label_tag nil, t(:document_number) %><br />
        <%= f.text_field :document_number_like, :size => 25 %>
      </p>
      <div data-hook="admin_boletos_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>


<h1><%= Spree::BoletoDoc.model_name.human(:count => 2) %></h1>

<table class="index" id="listing_boletos" data-hook>
  <thead>
    <tr data-hook="admin_boletos_index_headers">
      <% if @show_only_completed %>
        <th><%= sort_link @search, :paid_at, Spree::BoletoDoc.human_attribute_name(:paid_at) %></th>
      <% else %>
        <th><%= sort_link @search, :due_date,   		Spree::BoletoDoc.human_attribute_name(:due_date) %></th>
      <% end %>
      <th><%= sort_link @search, :document_number,	Spree::BoletoDoc.human_attribute_name(:document_number) %></th>
      <th><%= sort_link @search, :status,         	Spree::BoletoDoc.human_attribute_name(:status) %></th>
      <th><%= sort_link @search, :order_id,         t(:order) %></th>
      <th><%= sort_link @search, :amount,          	t(:amount) %></th>
			<th>link</th>
      <th data-hook="admin_boletos_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
	<%= render :partial => "boleto_links", :collection => @boleto_docs, :as => :boleto_doc %>
  </tbody>
</table>
<%= paginate @boleto_docs %>
