<% content_for :sidebar do %>
  <div class="box" data-hook="admin_boletos_index_search">
    <h3><%= t(:search) %></h3>
    <%= search_form_for [:admin, @search] do |f| %>
      <%= label_tag nil, t(:date_range) %><br />
      <div class="date-range-filter">
        <div class="left sub-field">
          <%= f.text_field :due_date_gt, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:start), :class => 'sub' %>
        </div>
        <div class="right sub-field">
          <%= f.text_field :due_date_lt, :class => 'datepicker' %><br />
          <%= label_tag nil, t(:stop), :class => 'sub' %>
        </div>
      </div>
      <p><%= label_tag nil, t(:status) %><br />
      <%= f.select :status_eq, [:pending, :paid, :cancelled].map {|s| [t("boleto.#{s}"), s]}, {:include_blank => true} %></p>
      <p>
        <%= label_tag nil, t(:boleto_number) %><br />
        <%= f.text_field :document_number_cont, :size => 25 %>
      </p>
      <p>
        <%= f.label :amount_gteq, t(:amount_gteq) %><br />
        <%= f.text_field :amount_gteq, :size => 15 %>
      </p>
      <p>
        <%= f.label :amount_lt, t(:amount_lt) %><br />
        <%= f.text_field :amount_lt, :size => 15 %>
      </p>
      <div data-hook="admin_boletos_index_search_buttons">
        <p><%= button t(:search) %></p>
      </div>
    <% end %>
  </div>
<% end %>


<h1><%= Spree::BoletoDoc.model_name.human(:count => 2) %></h1>

<table class="index" id="listing_boletos" data-hook>
  <thead>
    <tr data-hook="admin_boletos_index_headers">
      <% if @show_only_completed %>
        <th><%= sort_link @search, :paid_at, Spree::BoletoDoc.human_attribute_name(:paid_at) %></th>
      <% else %>
        <th><%= sort_link @search, :due_date,   		Spree::BoletoDoc.human_attribute_name(:due_date) %></th>
      <% end %>
      <th><%= sort_link @search, :document_number,	Spree::BoletoDoc.human_attribute_name(:document_number) %></th>
      <th><%= sort_link @search, :status,         	Spree::BoletoDoc.human_attribute_name(:status) %></th>
      <th><%= sort_link @search, :order_id,         t(:order) %></th>
      <th><%= sort_link @search, :amount,          	t(:amount) %></th>
			<th>link</th>
      <th data-hook="admin_boletos_index_header_actions"></th>
    </tr>
  </thead>
  <tbody>
		<% @boleto_docs.each do |boleto_doc| %>
		<% next if boleto_doc.order.blank? || boleto_doc.payment.blank? %>
			<tr data-hook="admin_boletos_index_rows">
			  <td><%= l (@show_only_completed ? boleto_doc.paid_at : boleto_doc.due_date).to_date rescue nil %></td>
			  <td><%= link_to boleto_doc.document_number, admin_order_payment_path(boleto_doc.order, boleto_doc.payment) %></td>
			  <td><%= t("boleto.#{boleto_doc.status}") %></td>
			  <td><%= link_to boleto_doc.order.number, admin_order_path(boleto_doc.order) %></td>
			  <td><%= number_to_currency boleto_doc.amount %></td>
				<%= render :partial => "boleto_links", :object => boleto_doc, :as => :boleto_doc %>
				<td class='actions' data-hook="admin_boletos_index_row_actions">
			    <% boleto_doc.payment.actions.each do |action| %>
			      <%= button_to t(action), fire_admin_order_payment_path(boleto_doc.order, boleto_doc.payment, :e => action), :method => :put %>
			    <% end %>
			  </td>
			</tr>
		<% end %>
  </tbody>
</table>
<%= paginate @boleto_docs %>
